# Python
**/__pycache__

# Sigaa
**/credentials.json

# PDFS
assets/scores

# AHP
assets/ahp

# Skillset
assets/sheets

# student's scores
**parsed_scores

# Graphs
graphs

# mongodb
mongodb/

# ignore builded pages under documentation
**build

# ignore python cache
**/__pycache__
**/.ipynb_checkpoints

**.pyc

# out folder
out/

# logs folders
**logs/

# vscode
.vscode/

# ignore all files that starts with _
**/__*

**.env


# ignore pyenv (environment created)
**pyenv**