# Jupyter notebooks/kernel
notebook>=5.3
ipykernel>=5.5.0
nbconvert==6.3.0
wheel>=0.37.0
ipywidgets>=7.5
# Others/extras
pandas>=1.2.1
numpy==1.19.3
# Plots
graphviz>=0.16
matplotlib>=3.3.3
plotly>=4.14.3
kaleido>=0.2.1
# Documentation
sphinx==3.0
furo==2021.3.20b30
# MongoDB (packages needed to run locally or remote)
pymongo>=3.11.2
dnspython>=2.1.0
# Others
networkx==2.5
# Web scrapping
requests>=2.23.0
lxml>=4.6.2
# Document scrapping
tabulate>=0.8.9
# Testing
mongomock>=3.22.1